<h4>Registracija</h4>
<div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">Ime</label>
                <input type="text" required formControlName="firstName" class="form-control form-control-sm"
                    id="firstName">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Prezime</label>
                <input type="text" required formControlName="lastName" class="form-control form-control-sm"
                    id="lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Email</label>
                <input type="email" required formControlName="email" class="form-control form-control-sm" id="Email">
            </div>
            <div class="form-group col-md-6">
            <label for="Password">Lozinka</label>
                <input type="password" required formControlName="password" class="form-control form-control-sm"
                    id="Password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="PasswordConfirm">Ponovi lozinku</label>
                <input type="password" required formControlName="confirmPassword" class="form-control form-control-sm"
                    id="PasswordConfirm">
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Telefon</label>
                <input type="tel" class="form-control form-control-sm" formControlName="phone" id="phone">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="birth">Datum rodjenja</label>
                <input type="date" required class="form-control form-control-sm" formControlName="birthdate" id="birth">
            </div>
            <div class="form-group col-md-6">
                <label for="address">Adresa</label>
                <input type="text" class="form-control form-control-sm" formControlName="address" id="address">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="type">Tip korisnika</label>
                <select class="form-control form-control-sm" formControlName="passengerType" id="typeFormControl"
                    required>
                    <option value="1">Djak</option>
                    <option value="2">Penzioner</option>
                    <option value="3">Regularni korisnik</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="image" class="col-sm-2">Dokument</label>
                <!-- <input type="file" class="form-control-file" formControlName="ImageUpload" id="FormControlFile1"> -->
                <input #file type="file" accept='image/*' formControlName="ImageUrl" (change)="preview(file.files)" />
                <img [src]="imgURL" height="200" *ngIf="imgURL">
                <br>
                <!-- {{imgURL}}
                {{imageUrl}} -->
            </div>
        </div>
        <div class="error" style="color: red;"
            *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
            Lozinke se ne poklapaju.
        </div>
        <div class="message">
            {{message}}
        </div>
        <div>
            <br>
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-secondary">Registruj se</button>
            <!-- <a href="/" class="btn btn-secondary">Otkazi</a> -->
        </div>

    </form>
</div>