<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<h3>Registracija</h3>
<!-- <form [formGroup]="registerForm" (ngSubmit)="register()">
    <label>
        Ime: <input type="text" formControlName="firstName" required>
    </label>
    <br>
    <label>
        Prezime: <input type="text" formControlName="lastName" required>
    </label>
    <br>
    <label>
        Email: <input type="email" formControlName="email" required>
    </label>
    <br>
    <label>
        Lozinka: <input type="password" formControlName="password" required>
    </label>
    <br>
    <label>
        Potvrdi lozinku: <input type="password" formControlName="passwordConfirm" required>
    </label>
    <br>
    <label>
        Adresa: <input type="text" formControlName="address" required>
    </label>

</form> -->


<div class="container">
    <table class="table table-striped" style="width: 60%;">
        <tbody>
            <tr>
                <td colspan="1">
                    <form [formGroup]="registerForm" (ngSubmit)="register()" class="well form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ime</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                                            id="firstName" name="fullName" placeholder="Ime" class="form-control"
                                            required="true" type="text" formControlName="firstName"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Prezime</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                                            id="firstName" name="firstName" placeholder="Prezime" class="form-control"
                                            required="true" type="text" formControlName="lastName"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Adresa</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input
                                            id="adress" name="adress" placeholder="Adresa" class="form-control"
                                            required="true" type="text" formControlName="address"></div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Email</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input
                                            id="email" name="email" placeholder="Email" class="form-control" required="true"
                                            type="email" formControlName="email"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Lozinka</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span><input
                                            id="password" name="email" placeholder="Lozinka" class="form-control"
                                            required="true" type="password" formControlName="password"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Potvrdi lozinku</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span><input
                                            id="passwordConfirm" name="passwordConfirm" placeholder="Potvrdi lozinku" class="form-control"
                                            required="true" type="password" formControlName="confirmPassword"></div>
                                </div>
                            </div>
                            <div class="error" *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
                                    Lozinke se ne poklapaju.
                            </div>
                        </fieldset>
                        <button type="submit"  class="btn btn-secondary" [disabled]="!registerForm.valid">Register</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
