Odabir tipa reda voznje:<br>
<select [(ngModel)]="selectedScheduleType" (change)="changeselectedScheduleType()">
  <option *ngFor="let scheduleType of scheduleInfo.ScheduleTypes" [ngValue]="scheduleType">
    {{scheduleType.Name}}
  </option>
</select>

<br><br>

Odabir tipa linije<br>
<select [(ngModel)]="selectedLineType" (change)="changeselectedLineType()">
  <option *ngFor="let lineType of scheduleInfo.LineTypes" [ngValue]="lineType">
    {{lineType.Name}}
  </option>
</select>

<br><br>

Odabir linije<br>
<select [(ngModel)]="selectedLine" (change)="changeLine()" [disabled]="selectedLineType==null">
  <option *ngFor="let line of filteredLines" [ngValue]="line">
    {{line.Name}}
  </option>
</select>
<br><br>
<button (click)="getSchedule()" [disabled]="selectedLine==null || selectedScheduleType==null">Prikazi</button>
<br><br>
Polasci: <br>
<textarea [(ngModel)]="departures"></textarea>

<br><br>

<button (click)="changeSchedule()" [disabled]="changeApprov">Izmeni</button>
&nbsp;
<button (click)="redirectSchedule()">Otkazi</button>
<br>
{{message}}