<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


<div class="container">
  <table class="table table-striped" style="width: 40%;">
      <tbody>
        <tr>
          <td colspan="1">
              <h3>Prijava</h3>
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                      id="username" name="fullName" placeholder="Ime" class="form-control" required="true" type="text"
                      formControlName="username"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                      id="password" name="firstName" placeholder="lozinka" class="form-control" required="true" type="password"
                      formControlName="password"></div>
                </div>
              </div>
            </fieldset>
            <button type="submit"  class="btn btn-secondary" [disabled]="!loginForm.valid" *ngIf="!authService.isLoggedIn">Login</button>
            <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
            &nbsp;
            <button (click)="Register()" class="btn btn-secondary">Registracija</button>
            <!-- <a (click)="Register()">Register</a> -->
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>