<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
  <label>
    Username:
    <input type="text" formControlName="username" required>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password" required>
  </label>

  <button type="submit" [disabled]="!loginForm.valid" *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</form>
<h1>Ako nema profil onda <button (click)="Register()">Registracija</button></h1> -->

<h3>Prijava</h3>
<div class="container">
  <table class="table table-striped" style="width: 40%;">
    <tbody>
      <tr>
        <td colspan="1">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                      id="firstName" name="fullName" placeholder="Ime" class="form-control" required="true" type="text"
                      formControlName="username"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                      id="firstName" name="firstName" placeholder="Ime" class="form-control" required="true" type="text"
                      formControlName="password"></div>
                </div>
              </div>
            </fieldset>
            <button type="submit"  class="btn btn-secondary" [disabled]="!loginForm.valid" *ngIf="!authService.isLoggedIn">Login</button>
            <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
            <!-- <a (click)="Register()">Register</a> -->
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="Register()" class="btn btn-secondary">Registracija</button>
</div>